# MongoDB
MONGO_URI=mongodb://mongodb:27017/
MONGO_DB=ChatService
MONGO_PORT=27017

# Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Frontend Port
FRONTEND_PORT=8080

# JWT & API Keys
JWT_SECRET_KEY=your_jwt_secret
API_KEY=your_api_key

# EJABBERD Configs
EJABBERD_API_URL="https://ejabberd:5443/api"
ADMIN_USER="admin@ejabberd"
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_password
VHOST=ejabberd
MUC_SERVICE="conference.ejabberd"

# EJABBERD Ports
PORT_C2S=5222
PORT_S2S=5269
PORT_HTTP=5280
PORT_HTTP_TLS=5443